<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <%= link_to cocktail_path(cocktail) do %>
            <h4 class="card-title"><%= cocktail.name %></h4>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
