<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <div class="card" style="width: 18rem; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>'); background-size: cover;">
          <div class="card-body">
            <%= link_to cocktail_path(cocktail) do %>
              <h4 class="card-title"><%= cocktail.name %></h4>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
