// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), image-url("bar.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20vh;
  font-family: 'Roboto', sans-serif;
  color: white;
  a {
    color: white;
  }
}

.card-title {
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card {
  width: 100%;
  position: relative;
  margin: 0.5rem 1rem 1rem 1rem;
  background-position: center;
  border-radius: 2px;
  color: white;
  border: 1px groove white;
  height: 250px;
}

.card h4 {
  margin: 0;
  padding: 0.5rem;
}

.card-body > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.navbar-lewagon {
  background-color: transparent;
  transition: 0.5s background-color ease;
  height: 70px;
  justify-content: space-between;
}

.nav-link {
  color: white !important;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-brand {
  background-color: transparent !important;
}

.navbar-brand img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 60px;
  background-color: transparent !important;
  background-size: cover;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}


.box {
  display: flex;
  flex-flow: column;
  position: fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 60%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  text-align: center;
}


.box .info {
  background-color: #f8f8ff;
  flex: 1 1 auto;
}

.info {
  display: flex;
  justify-content: space-around;
  color: black;
  font-weight: 100;
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  a {
    color: blue;
  }
  .ingredients {
    flex-basis: 50%;
    padding: 10px 50px 10px 50px;
    text-align: left;
  }
  .description {
    flex-basis: 50%;
    padding: 10px 50px 10px 50px;
    text-align: left;
  }
}

